:root {
  --color-bg: #f7f7f7;
  --color-box: #eaeaea;
  --color-primary: #005f99;
  --color-text: #333333;
  --color-link: #8900de;
}

form{
    background-color: var(--color-box);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    padding: 1rem;
}

button{
    display: block;
    border-radius: 5px;
    border: none;
    background-color: var(--color-bg);
    padding: 0.3rem 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.2s;
    margin: 5px auto; /* auto a los lados centra horizontalmente */
}

button:hover{
    background-color: #d5d5d5;
    transform: scale(0.95); /* se hace un 5% más pequeño */
}

#archivo{
    margin: 10px;
}

div{
    display: flex;
    justify-content: center;  /* centra horizontalmente */
    align-items: center;      /* centra verticalmente */
}

img{
    max-height: 150px;        /* tamaño máximo vertical */
    width: auto;             /* mantiene proporción */
    display: block;
}

/* Para que todos los elementos con class="hidden" estén ocultos */
.hidden{
    display: none; /* oculto por defecto */
}

.producto {
    display: inline-block; /* NO flex pq recalcula los tamaños */
    position: relative;
    margin: 10px; /* Espacio entre cada imagen */
}

.datos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra exacto */
    z-index: 10;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-box);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    padding: 1rem;

    width: 60%;
    height: auto;
}

.datos div {
    /*overflow-y: auto; / Scroll vertical / */
    word-wrap: break-word;    /* Soportado en todos los navegadores */
    word-break: break-word;   /* Forzar que palabras muy largas se rompan */
    white-space: normal;      /* Permitir saltos de línea */
}

/* Color de letras de lo que está mal */
#error{
    color: red;
    font-weight: bold;
}

.borrando {
    opacity: 0.5;
    transition: opacity 0.3s;
}